 @use 'src/styles/base' as *;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--mantine-spacing-xl);
}

.icon {
  font-size: rem(80px);
  text-align: center;
  margin-bottom: var(--mantine-spacing-xl);
  animation: hammer 2s ease-in-out infinite;

  @keyframes hammer {
    0%,
    100% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family),
    serif;
  font-weight: 900;
  text-align: center;
  margin-bottom: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(600px);
  margin: auto auto var(--mantine-spacing-xl);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.button {
  margin-top: var(--mantine-spacing-md);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}
